body {
	background: black;
	font-family: "Kanit", sans-serif;
	font-family: "Noto Sans Osmanya", sans-serif;
	font-family: "Ubuntu", sans-serif;
}

* {
	border: 1px dashed red;
	min-height: 10px;
}

.postcard {
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
}

.postcard-header {
	display: flex;
}

.postcard-header img {
	width: 50px;
	height: 50px;
}

.postcard-header h1 {
	width: 100%;
	margin: 0;
}

.postcard-body {
	display: flex;
}

.body-left p:first-child {
	margin-top: 0;
}

.body-left,
.body-right {
	padding: 5px;
}

input {
	border: none;
	border-bottom: 1px grey solid;
}

input:hover {
	background: darkblue;
	color: lightblue;
}

input:active {
	background: black;
	color: white;
}

.postcard-footer {
	text-align: center;
}

button {
	background-color: gainsboro;
	padding: 5px;
}

button:hover {
	background: beige;
	color: darkblue;
}

button:active {
	background: black;
	color: white;
}
